@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        justify-content: flex-end;
        z-index: 1;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background: linear-gradient(200deg, #3a0647 50%, rgb(5, 39, 103) 90%)
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.background-image {
    background-image: url('../images/Untitled.png'), linear-gradient(150deg, #3a0647 20%, rgb(5, 39, 103) 100%);
    border-radius: 50px, 1px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact {
    margin-left: 50px;
}

.homePTag {
    background-color: slategray;
    padding: 5px;
}

    .homePTag h2 {
        text-align: center;
    }

    .homePTag p {
        text-align: center;
    }

        .homePTag p a {
            text-align: center;
        }

.jumbotron {
    margin-top: 40px;
    margin-bottom: 40px;
}

    .jumbotron h1,
    jumbotron h1 {
        text-align: center;
    }

    .jumbotron h3,
    jumbotron h3 {
        text-align: center;
    }

.translucent-text-box {
    opacity: 0.9;
    position: relative;
    z-index: 0;
}

.top-bar {
    background: linear-gradient(160deg, #3a0647 50%, rgb(5, 39, 103) 90%)
}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

    button:hover {
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }

    button:active {
        outline: none;
        border: none;
    }

    button:focus {
        outline: 0;
    }

.jsno-background {
    background-color: rgba(127, 140, 199, 0.8);
    border: solid;
    border-color: burlywood;
    border-bottom-width: 4px;
}

.pad-25x3 {
    padding: 25px 0px 25px 25px;
}

.pad-20 {
    padding: 20px 10px 5px 20px;
}

.margin-bttm-20 {
    margin-bottom: 20px;
}

.background-color-darkcyan {
    background-color: darkcyan;
}

.shadow-border {
    box-shadow: 10px 10px 10px #3a0647, 10px 10px 30px #3a0647 inset;
}

.shadow-border-sm {
    box-shadow: 4px 4px 4px #3a0647, 1px 1px 10px #3a0647 inset;
}

.shadow-border-xs {
    box-shadow: 4px 4px 4px #3a0647, 1px 1px 10px #3a0647 inset;
}

.blog-background {
    background-color: rgba(127, 140, 199, 0.8);
    border: solid;
    border-color: rgb(149, 7, 192);
    border-bottom-width: 4px;
}

.blog-pad {
    padding: 25px 0px 25px 25px;
}

.blog-pad-right-5 {
    padding: 0px 5px 0px 0px;
}

.blogHeader {
    background-color: rgb(67, 173, 223);
    text-decoration-color: rgb(238, 210, 241);
    text-align: center;
    display: block;
    font-size: x-large;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.blogData {
    display: block;
    font-size: medium;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}

.blogTitle {
    color: black;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a.blogLink:hover {
    color: rgb(115, 25, 151);
}

.preBlogBody {
    font-family: Arial;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

.peeBlogBody {
    background-color: azure;
    overflow: scroll;
    height: 250px;
}

.buttonLink {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.aLink {
    color: white;
}

.footTopMargin {
    margin-top: 20px;
}

textarea {
    height: 300px;
}

.wedding-background {
    background-color: rgba(127, 140, 199, 0.8);
    border: solid;
    border-color: rgb(149, 7, 192);
    border-bottom-width: 4px;
    height: 2000px;
}

.background-image-wedding {
    background-image: linear-gradient(150deg, #3a0647 20%, rgb(5, 39, 103) 100%);
    border-radius: 50px, 1px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}