<div class="row">
    <div class="footTopMargin col-lg-12 col-md-12 col-sm-12">
        <div class="container footPosition blog-background rounded-lg text-center text-white shadow-border-sm">
            &copy; <strong>@DateTime.Now.Year   ---   jsnover.net   ---   </strong><a href="https://www.instagram.com/jacobsnover/" class="aLink">You can also follow me on Instagram!</a><br />
        </div>
    </div>
</div>